<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e8b466">  <td>20/08/27 01:03:26</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;Setup.End()[pri:0, instance:Test.test@3e6fa38a]">&lt;&lt;End</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1926764753</td>   <td></td> </tr>
<tr bgcolor="c78c6b">  <td>20/08/27 00:59:32</td>   <td>-234132</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="test.Run()[pri:0, instance:Test.test@3e6fa38a]">Run</td> 
  <td>main@1926764753</td>   <td></td> </tr>
<tr bgcolor="e8b466">  <td>20/08/27 00:59:17</td>   <td>-249077</td> <td>&nbsp;</td><td title="&gt;&gt;Setup.initial()[pri:0, instance:Test.test@3e6fa38a]">&gt;&gt;initial</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1926764753</td>   <td></td> </tr>
</table>
